/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  width:100%;
}

body{
    margin: 0;
    background-color: rgb(247,193,55);
    margin: 0 2%;
}

h1 {
    margin: 20px 0 10px 0;
}

.bottom-bar{
    background-color: #e7edf9;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20em;
    max-width: 30em;
    border-radius: 20px 20px 0 0;
}
.icon{
    font-size: 1.5em;
    padding: .5em;
    margin: .5em;
    margin-top: 0;
    transition: .5s ease-in-out;
    border-radius: 100%;
    border: 7px solid #eee;
}
.active{
    transform: scale(1.25) translateY(-1em);
    background: linear-gradient(135deg, rgb(17, 16, 40),#250c1a);
    border: 7px solid #9a9ac3;
    color: white;
}

button {
    width: 50px;
    height: 50px;
}
.toque_batidas {
    width: 500px;
}
.playlist li {
    border: 1px solid #ffffff;
}
.playlist li:hover {
    border: 1px solid #acacac;
}
